/* variable declaration */
$defaultBackground: #3498db;
$defaultTextColor: #2c3e50;
$defaultFontSize: 16px;
$defaultBorder: 2px;
$defaultBorderColor: #ccc;
$defaultPadding: 10px;
$defaultMargin: 10px;
