/*  general css variable declarattion */
/*
	:root {
		--light-color: '#fcd023'
	}
 */



/* primary css based variables */
:root {
  --default-width: 100%;
  --default-border: 1px;
  --default-border-color: #ccc;
  --default-padding: 8px;
  --default-text-color: #333;
}


/* sass based variable declaration => precss plugin  */
$defaultBackground: #3498db;
$defaultTextColor: #2c3e50;
$defaultFontSize: 16px;
$defaultBorder: 2px;
$defaultBorderColor: #ccc;
$defaultPadding: 10px;
$defaultMargin: 10px;
